<div id="login" class="form-container">
  <h1>Please Login</h1>
  <form action="/user/log-in" method="post">
    <div class="form-group">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username" placeholder="username" />  
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />  
    </div>
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/user/signup" class="signup">Sign Up</a></p>
</div>

