<h2>Upload File</h2>
<form action="/file/new" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="file">Choose a File: </label>
    <input type="file" id="file" name="file" />  
  </div>
  <button type="submit">Submit</button>
</form>

